.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: white;
    background: -webkit-linear-gradient(to left, lightgray, white);
    background: linear-gradient(to left, lightgray, white);
}

.info {
    margin: 0;
    padding: 0;
    position: static;
    background: #144753;
    background: -webkit-linear-gradient(to right, #144753, #072c35, #0f0c29);
    background: linear-gradient(to right, #144753, #072c35, #0f0c29);
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-around;
    align-items: center;
}

.info .info-img img {
    height: 50vh;
    margin-bottom: 5vh;
}

.info .info-img {
    flex: 1;
}

.info-text {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 2em;
}

.info2 {
    margin: 0;
    padding: 0;
    position: static;
    background: white;
    background: -webkit-linear-gradient(to left, lightgray, white);
    background: linear-gradient(to right, lightgray, white);
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-around;
    align-items: center;
}

.info2 .info2-img img {
    height: 40vh;
    margin-bottom: 5vh;
}

.info2 .info2-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.info2-text {
    flex: 1;
    text-align: center;
    color: #072c35;
    font-size: 2em;
}

.btn {
    border: 3px solid #144753;
    border-radius: 3px;
    padding: 2vh 2vw;
    font-size: 0.6em;
    color: #144753;
    background-color: white;
    box-sizing: border-box;
}

.btn a {
    color:#144753;
}

.btn2 {
    border: 3px solid white;
    border-radius: 3px;
    padding: 2vh 2vw;
    font-size: 1.5em;
    color: white;
    background-color: #072C35;
    box-sizing: border-box;
    margin-top: 3vh;
}


@media screen and (min-width:640px) {
    .btn2:hover {
        cursor: pointer;
        border-color: white;
        background-color: white;
        color: #144753;
        box-shadow: 0 0 0.8em lightgray;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    .btn:hover {
        cursor: pointer;
        border-color: #144753;
        background-color: #144753;
        color: #fff;
        box-shadow: 0 0 0.8em #144753;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .btn2:active {
        border-color: lightgray;
        background-color: lightgray;
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }
    .btn:active {
        background-color: #072C35;
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }
}

@media screen and (max-width:640px) {
    .btn2:active {
        border-color: white;
        background-color: white;
        color: #144753;
        box-shadow: 0 0 0.8em lightgray;
    }
    .btn:active {
        background-color: #072C35;
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }

    .info,
    .info2 {
        flex-direction: column;
    }
    .info2-text {
        order: 2;
    }
    .info-img img {
        padding: 0;
        margin: 0;
        max-width: 80vw;
        height: auto;
        margin-bottom: 5vh;
    }

    .info2-img img {
        padding: 0;
        margin: 0;
        max-width: 80vw;
        height: 10vh;
        margin-bottom: 5vh;
    }
    .info-img .react3 {
        padding: 0;
        margin: 0;
        max-width: 80vw;
        height:10vh;
        margin-bottom: 5vh;
    }
}